﻿@model LiicoresApp_Admin.Models.la_facturas_clientes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>la_facturas_clientes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha_emision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_emision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_vencimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_vencimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deuda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deuda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.la_clientes.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.la_clientes.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
