﻿@model LiicoresApp_Admin.Models.la_tiendas_productos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>la_tiendas_productos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.stock_producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stock_producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.la_productos.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.la_productos.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.la_tiendas.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.la_tiendas.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
