﻿@model LiicoresApp_Admin.Models.la_pedidos_tiendas_productos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>la_pedidos_tiendas_productos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio_final)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio_final)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.la_pedidos.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.la_pedidos.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.la_tiendas_productos.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.la_tiendas_productos.id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
