﻿@model IEnumerable<LiicoresApp_Admin.Models.la_pedidos_tiendas_productos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio_final)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.la_pedidos.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.la_tiendas_productos.id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio_final)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.la_pedidos.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.la_tiendas_productos.id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
